/* Write your CSS here! */
body {
  width: 100%;
}

header,
main,
img {
  width: 100%;
  max-width: 100%;
}

/* 1. margin
2. padding
1. element 
2. class
3. id  */
/*Use the element selector to give the <body> element a 
margin value of 8px and a display type of block.*/
/*element <body> Margin 8px display type block

/*Give a heading on your page the id of mainHeading 
and use the id selector in styles.css to make the color 
red and apply any additional styling of your choosing.*/

/*Give a paragraph on your page the id of testP 
and a class name of funParagraph. Use the class 
selector in styles.css and make the color green 
and give it any additional styling of your choosing.*/
